[package]
name = "rover-embassy"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.42", features = ["full"] }
crossterm = "0.28"
serde = { version = "1.0", features = ["derive"] }
mcap = "0.24"
flatbuffers = "24.3"
chrono = "0.4"

[profile.release]
opt-level = 3
lto = true
